{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block body %}
<h1 class="mx-4 my-3">My Notes</h1>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
		<ul class="notes">
            {% for note in notes %}
            <li style="list-style: none;">
                <div class="d-flex justify-content-between bg-grey w-100 h-100 my-3 bg-light p-3 rounded align-items-center">
                    <div>
                    <h4>{{note[1]}}</h4>
                    <p>{{note[2]}}</p>
                </div>
                    <a href="/delete/{{ note[0] }}" class="text-danger pull-right d-inline-flex"><i class="fa fa-trash-o "></i></a>
                </div>
            </li>   
            {% endfor %}
		</ul>  
	</div>
</div>
{% endblock %}