{% extends "base.html" %}
{% block title %} Sign up {% endblock %}

{% block body %}
<h2 class="mx-3 my-3">Log into your account</h2>

<h4 class="mx-3 text-danger">{{ error }}</h4>
<form method="post" action="/login" class="mx-3 my-3">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}